<div class="row">
  <div class="col-md-8 container align-content-center">

    <div class="col-md-8 offset-md-2 mt-5 mb-5  shadow-boxed">
      <h3>Please Login Here!</h3><br>
      <form #form="ngForm" (ngSubmit)="onSubmit(form)">
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" ngModel required>
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" ngModel required>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
  </div>

  <div class="col-md-12 text-center mt-3 mb-5">
    <span>New here?</span>
    <a [routerLink]="'/register'">
      <span class="h5 pl-2">Create new account?</span>
    </a>
  </div>

</div>
