<div class="header-component shadow-boxed">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button class="btn btn-outline  m-2"
                type="button"
                routerLinkActive="active"
                [routerLink]="'/home'">Home
        </button>
      </div>

      <ul class="nav navbar-right">
        <li>
          <button *ngIf="!(isAuthenticated)" class="btn btn-outline-success  m-2"
                  type="button"
                  routerLinkActive="active"
                  [routerLink]="'/login'">Login
          </button>
        </li>
        <li>

          <div class="col" *ngIf="isAuthenticated">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-default user-profile" id="dropdownBasic1" ngbDropdownToggle routerLink="/profile">
                {{ 'Hi,' + ((currentUser.name)| titlecase)}}
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem (click)="onLogout()">Logout</button>
              </div>
            </div>
          </div>

        </li>

      </ul>
    </div>
  </nav>

</div>
<div class="row">

  <div class="col-md-12 ">
    <router-outlet></router-outlet>
  </div>
</div>
