<div class="row">
  <div class="col-md-8 container align-content-center">
      <div class="col-md-8 offset-md-1 ">
        <div class="col-md-12 mt-5 mb-5 p-5 text-center shadow-boxed">
          <form #form="ngForm" (ngSubmit)="onSubmit(form)" autocomplete="off">
            <div class="form-group">
              <label for="title">Enter Job Position:</label>
              <input type="email" class="form-control" id="title" placeholder="title" name="position" ngModel required>
            </div>
            <div class="form-group">
              <label for="description">Enter Job description:</label>
              <input type="text" class="form-control" id="description" placeholder="Description" name="description" ngModel >
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
  </div>

</div>
