<div class="row">
  <div class="col-md-8 container align-content-center">
    <div class="col-md-8 offset-md-2  shadow-boxed">
      <h3>Please Signup Here!</h3>
      <br>
      <form #form="ngForm" (ngSubmit)="onSubmit(form)" autocomplete="off">
        <div class="form-group">
          <label for="name">Enter Your Full Name:</label>
          <input type="email" class="form-control" id="name" placeholder="Name" name="email" ngModel required>
        </div>
        <div class="form-group">
          <label for="email">Enter Your Email:</label>
          <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" ngModel required>
        </div>
        <div class="form-group">
          <label for="password">Enter Your Password:</label>
          <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" ngModel required>
        </div>
        <div class="form-group">
          <label for="password">User Type:</label>
          <select name="user_type" ngModel class="form-control">
            <option value="candidate">Candidate</option>
            <option value="company">Company</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
    </div>

    <div class="col-md-12 text-center mt-3 mb-5">
      <span>Already have an account?</span>
      <a [routerLink]="'/login'">
        <span class="h5 pl-2">Login</span>
      </a>
    </div>

  </div>

</div>
