<div class="container">
  <div class="col-md-12 align-content-center" *ngIf="(user).user_type ==='candidate' else elseBlock">
    <div class="col-md-12 align-content-center"  *ngIf="jobs.length>0 else seekerElseBlock">
      <h2 class="text-center" >Jobs Available</h2><br>
      <!--      <div class="col-md-12">-->
      <table class="table table-dark table-hover">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Position</th>
          <th scope="col">Apply</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let job of jobs;let i = index">
          <td>{{i + 1}}</td>
          <td>{{job.position}}</td>
          <td>
            <button class="btn btn-primary" (click)="jobApply(i)">Apply Now</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <ng-template class="col-md-12 text-center"  #seekerElseBlock>
      <br>
      <h2>No Jobs found ! </h2>
    </ng-template>
    <!--    </div>-->
  </div>
  <div class="col-md-12 align-content-center">
    <ng-template  #elseBlock>
      <br>
      <h2 class="text-center">Your Jobs</h2>
        <br>
        <table class="table table-dark table-hover">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Job Position</th>
            <th scope="col">View Candidates</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let job of jobs;let i = index">
            <td>{{i + 1}}</td>
            <td>{{job.position}}</td>
            <td>
              <button class="btn btn-primary" (click)="viewApplicants(i)">View</button>
            </td>
          </tr>
          </tbody>
        </table>
   </div>

  <div class="col-md-12 align-content-center "
       *ngIf="viewUserCheck">
    <br>
    <h3 class="text-center">Candidates Applied for your Job</h3>
    <br>
    <table class="table table-dark table-hover" *ngIf="appliedUsers.length>0 else userElseBlock">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Candidate Name</th>
        <th scope="col">Candidate Email</th>
      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let user of appliedUsers;let i = index">
        <td>{{i + 1}}</td>
        <td>{{user.name}}</td>
        <td>
          {{user.email}}
        </td>
      </tr>
      </tbody>
    </table>
    <ng-template class="col-md-12 text-center" #userElseBlock>
      <h2>No users found ! </h2>
    </ng-template>
  </div>


  <div class="col-md-12 text-center mt-3 mb-5">
    <span>New Job</span>
    <a routerLink="../newJob">
      <span class="h5 pl-2">Post Now</span>
    </a>
  </div>

  </ng-template>
</div>


</div><div class="container">
  <div class="col-md-12 align-content-center" *ngIf="(user).user_type ==='candidate' else elseBlock">
    <div class="col-md-12 align-content-center"  *ngIf="jobs.length>0 else seekerElseBlock">
      <h2 class="text-center" >Jobs Available</h2><br>
      <!--      <div class="col-md-12">-->
      <table class="table table-dark table-hover">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Position</th>
          <th scope="col">Apply</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let job of jobs;let i = index">
          <td>{{i + 1}}</td>
          <td>{{job.position}}</td>
          <td>
            <button class="btn btn-primary" (click)="jobApply(i)">Apply Now</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <ng-template class="col-md-12 text-center"  #seekerElseBlock>
      <br>
      <h2>No Jobs found ! </h2>
    </ng-template>
    <!--    </div>-->
  </div>
    <ng-template  #elseBlock>
      <div class="col-md-12 align-content-center">
      <br>
      <h2 class="text-center">Your Jobs</h2>
        <br>
        <table class="table table-dark table-hover">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Job Position</th>
            <th scope="col">View Candidates</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let job of jobs;let i = index">
            <td>{{i + 1}}</td>
            <td>{{job.position}}</td>
            <td>
              <button class="btn btn-primary" (click)="viewApplicants(i)">View</button>
            </td>
          </tr>
          </tbody>
        </table>
  </div>

  <div class="col-md-12 align-content-center "
       *ngIf="viewUserCheck">
    <br>
    <h2 class="text-center">Candidates Applied for your Job</h2>
    <br>
    <table class="table table-dark table-hover" *ngIf="appliedUsers.length>0 else userElseBlock">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Candidate Name</th>
        <th scope="col">Candidate Email</th>
      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let user of appliedUsers;let i = index">
        <td>{{i + 1}}</td>
        <td>{{user.name}}</td>
        <td>
          {{user.email}}
        </td>
      </tr>
      </tbody>
    </table>
    <ng-template class="col-md-12 text-center" #userElseBlock>
      <h2>No users found ! </h2>
    </ng-template>
  </div>


  <div class="col-md-12 text-center mt-3 mb-5">
    <span>New Job</span>
    <a routerLink="../newJob">
      <span class="h5 pl-2">Post Now</span>
    </a>
  </div>
    </ng-template>
</div>

